.dashboard-table {
  table-layout: fixed;
  font-size: 13px;
}

.dashboard-table thead th {
  vertical-align: middle;
  border-color: #191919;
}

.dashboard-table .day-th {
  width: 60px;
  text-align: center;
}

.dashboard-table .day-td {
  text-align: center;
  vertical-align: middle;
}

.warning {
  background: #fffda1;
}

.bad-time.warning {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffda1+0,fffda1+50,ffdfdf+51,ffdfdf+100 */
background: rgb(255,253,161); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,253,161,1) 0%, rgba(255,253,161,1) 50%, rgba(255,223,223,1) 51%, rgba(255,223,223,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(255,253,161,1) 0%,rgba(255,253,161,1) 50%,rgba(255,223,223,1) 51%,rgba(255,223,223,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(255,253,161,1) 0%,rgba(255,253,161,1) 50%,rgba(255,223,223,1) 51%,rgba(255,223,223,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffda1', endColorstr='#ffdfdf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.error {
  color: red;
}

.free-day {
  background-color: #f6f6f6;
}

.day-in-words {
  font-weight: normal;
  display: block;
  margin-top: -5px;
}

.dashboard-table .sigma-td, .dashboard-table .sigma-th {
  border-left: 0;
  width: 150px;
  text-align: right;
}

.dashboard-table .name-td, .dashboard-table .name-th {
  border-right: 0;
  width: 200px;
}

.table-scroll {
  position: relative;
  width: 100%;
	overflow: hidden;
}

.table-cloned {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.table-cloned th, .table-cloned td {
  visibility: hidden;
  border-color: transparent;
}

.table-cloned .visible {
  visibility: visible;
}

.table-cloned td.visible {
  background-color: #fff;
  border-color: #eceeef;
}

.table-cloned .sigma-td {
  border-right: 2px solid #999999;
}

.active-cell {
  transition: background 0.1s ease;
}

.active-cell:hover {
  cursor: pointer;
}

.active-cell:not(.warning):hover {
  background: #fafafa;
}

.footer {
  font-weight: bold;
}